<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.catsweightcontroller">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CatsWeightController">
        <activity
            android:name=".PetEntryActivity"
            android:exported="false" />
        <activity
            android:name=".AllPetsActivity"
            android:exported="false" />
        <activity
            android:name=".AddWeightEntry"
            android:exported="false" />
        <activity
            android:name=".WeightEntryActivity"
            android:exported="false" />
        <activity
            android:name=".DiaryListActivity"
            android:exported="false"
            android:label="@string/title_activity_diary_list"
            android:theme="@style/Theme.CatsWeightController.NoActionBar" />
        <activity
            android:name=".AddCatActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.catsweightcontroller"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>